pages/
components/
!pages/school-fees/fee-items/index.tsx
!pages/school-fees/fee-templates/index.tsx
!pages/school-fees/invoices/index.tsx
!pages/school-fees/discounts/index.tsx
!pages/school-fees/transactions/index.tsx
!pages/attendance_new/index.tsx
!components/CreateFeeItem.tsx
!components/EditFeeItem.tsx
!components/DiscountSelect.tsx
!components/ClassSelect.tsx
!components/FeeTemplateSelect.tsx
!components/CreateFeeTemplate.tsx
!components/EditFeeTemplate.tsx
!components/CreateInvoice.tsx
!components/EditInvoice.tsx
!components/CreateDiscount.tsx
!components/EditDiscount.tsx
!components/CreateTransaction.tsx
!components/EditTransaction.tsx
!utility_methods/alert.ts
!components/AttendanceAccordionNew.tsx
